body{
  color: white;
  background-color: #333;
  font-family: Arial;
}

h1 {
  font-size: 40px;
}

.container {
  width: 700px;
  margin: 20px auto 50px;
  text-align: center;
  color: #fff8f1;
}

.door_container {
  text-align: center;
}

.door {
  display: inline-block;
}

img{
  padding-left:40px;
  width:160px;
  height:320px>
}
